.inc_data{
    font-family: '9369';
    width: 800px;
    padding: 20px;
    margin-bottom: 50px;
}

.shapka{
    width: 800px;
}

.id_inc{
    width: 80px;
    font-size: 30px;
    background: #483D8B;
    padding-right: 20px;
    height: 70px;
    color: white;
    font-weight: bold;
    text-align: right;
    display: inline-block;
    margin-left: -20px;
    line-height: 70px;
}

.data_inc{
    width: 180px;
    display: inline-block;
    float: right;
}

.dat_inc{
    font-size: 16px;
    text-align: center;
    height: 26px;
    padding-top: 8px;
}

.type_inc{
    font-size: 16px;
    border-top: 2px solid #483D8B;
    text-align: center;
    height: 26px;
    padding-top: 8px;
}

.name_inc{
    font-size: 30px;
    color: #483D8B;
    display: inline-block;
    width: 510px;
    height: 70px;
    line-height: 70px;
    margin-left: -3px;
    padding-left: 30px;
}

.text_inc{
    width: 760px;
    font-size: 20px;
    padding: 20px;
    background: #F0F8FF;
}

.dec_inc{
    width: 760px;
    font-size: 20px;
    padding: 20px;
    background: #A9F5A9;
    margin-top: 10px;
    position: relative;
}

.dec_inc_otkl{
    width: 760px;
    font-size: 20px;
    padding: 20px;
    background: red;
    margin-top: 10px;
    position: relative;
}

.scree{
    margin-top: 10px;
    display: block;
}

.man{
    width: 760px;
    color: #483D8B;
    margin-bottom: 5px;
}

.man_otd{
    font-size: 15px;
    width: 760px;
    color: #483D8B;
    padding-bottom: 10px; 
    border-bottom: 2px solid #FFFFFF;
    margin-bottom: 10px;
}

.man_comm{
    width: 640px;
    color: #483D8B;
    margin-bottom: 5px;
}

.man_otd_comm{
    font-size: 15px;
    width: 640px;
    color: #483D8B;
    padding-bottom: 10px; 
    border-bottom: 2px solid #FFFFFF;
    margin-bottom: 10px;
}

.dat_comm{
    font-size: 15px;
    width: 150px;
    color: #483D8B;
    position: absolute;
    top: 50px;
    left: 530px;
}

.dat_dec{
    font-size: 15px;
    width: 150px;
    color: #483D8B;
    position: absolute;
    top: 50px;
    left: 650px;
}

.liniya{
    width: 800px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 1px;
    background: #483D8B;
}

.liniya_kor{
    width: 680px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 1px;
    background: #6A5ACD;
}

.ibutt{
    font-family: '9369';
    cursor: pointer;
    background: #483D8B;
    width: 210px;
    height: 40px;
    font-size: 15px;
    color: #Ffffff;
    border: 0;
    margin-top: 10px;
    line-height: 30px;
    position: relative;
    text-align: left;
    padding-left: 45px;
}

.ibutt:hover{
    background: #6A5ACD;
}

.commEdit{
    font-family: '9369';
    border: 1px solid #483D8B;
    background: #Ffffff;
    padding: 5px;
    height: 50px;
    width: 790px;
    font-size: 15px;
    text-align: left;
    resize: none;
    margin-top: 10px;
}

.commEdit_comm{
    font-family: '9369';
    border: 1px solid #483D8B;
    background: #Ffffff;
    padding: 5px;
    height: 50px;
    width: 670px;
    font-size: 15px;
    text-align: left;
    resize: none;
}

.comm_inc{
    width: 640px;
    font-size: 20px;
    padding: 20px;
    background: #F0F8FF;
    position: relative;
}

.comm_inc_mod{
    width: 640px;
    margin-left: 40px;
    display: inline-block;
}

.pan_chp{
    width: 80px;
    height: 300px;
    display: inline-block;
    vertical-align: top;
}

.pan_mod_c{
    width: 60px;
    height: 60px;
    background: #483D8B;
    margin-bottom: 10px;
    cursor: pointer;
    border: 0;
    background-image: url('img/comm.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: auto;
}

.pan_mod_cv{
    width: 60px;
    height: 60px;
    background: #483D8B;
    margin-bottom: 10px;
    cursor: pointer;
    border: 0;
    background-image: url('img/comm_1.png');
    background-repeat: no-repeat;
    background-position: 50% 52%;
    background-size: auto;
}

.pan_mod_c:hover{
    background: #6A5ACD;
    background-image: url('img/comm.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: auto;
}

.pan_mod_h{
    width: 60px;
    height: 60px;
    background: #483D8B;
    margin-bottom: 10px;
    cursor: pointer;
    border: 0;
    background-image: url('img/hist.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: auto;
}

.pan_mod_hv{
    width: 60px;
    height: 60px;
    background: #483D8B;
    margin-bottom: 10px;
    cursor: pointer;
    border: 0;
    background-image: url('img/hist_1.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: auto;
}

.pan_mod_h:hover{
    background: #6A5ACD;
    background-image: url('img/hist.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: auto;
}

.pan_mod_b{
    width: 60px;
    height: 60px;
    background: #483D8B;
    margin-bottom: 10px;
    cursor: pointer;
    border: 0;
    background-image: url('img/base.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: auto;
}

.pan_mod_bv{
    width: 60px;
    height: 60px;
    background: #483D8B;
    margin-bottom: 10px;
    cursor: pointer;
    border: 0;
    background-image: url('img/base_1.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: auto;
}

.pan_mod_b:hover{
    background: #6A5ACD;
    background-image: url('img/base.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: auto;
}

.nazn{
    width: 780px;
    font-size: 15px;
    padding: 10px;
    background: #CEE3F6;
}

.img_butt{
    position: absolute;
    height: 20px;
    left: 15px;
    top: 10px;
}

.sel_mal{
    font-family: '9369';
    border: 1px solid #3a3633;
    background: #Ffffff;
    cursor: pointer;
    padding: 4px 0 4px 0;
    height: 40px;
    width: 200px;
    font-size: 15px;
    text-align: center;
    margin-left: 5px;
}

.zamena_act{
    width: 760px;
    font-size: 20px;
    padding: 20px;
    background: #A9F5A9;
    margin-top: 10px;
    position: relative;
}

.sel_komis{
    width: 250px;
    height: 30px;
    font-size: 15px;
    margin-bottom: 10px;
}

.ztext{
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding-left: 65px;
}

.zButtons_tab{
    display: inline-block;
    float: right;
}

.ibuttz{
    font-family: '9369';
    cursor: pointer;
    background: #483D8B;
    width: 140px;
    height: 30px;
    font-size: 13px;
    color: #Ffffff;
    border: 0;
    line-height: 30px;
    position: relative;
    text-align: left;
    padding-left: 35px;
}

.ibuttz:hover{
    background: #6A5ACD;
}

.img_buttz{
    position: absolute;
    height: 15px;
    left: 13px;
    top: 8px;
}

.table_incident_data{
    margin: 0;
    font-family: '9369';
    font-size: 20px;
    border-collapse: collapse;
    text-align: left;
    width: 100%;
}

.table_incident_data th{
    background: #483D8B;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

.table_incident_data td {
    border-style: solid;
    border-width: 0 2px 2px 0;
    border-color: white;
    padding: 10px;
}

.table_incident_data tbody td:nth-child(odd) {
    background: #FFA500;
}

.table_incident_data thead {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.commgo{
    margin: 0;
    font-family: '9369';
    font-size: 15px;
    border-collapse: collapse;
    width: 100%;
}

.commgo tbody tr:nth-child(even) {
    background: #FFFFFF;
}

.commgo tbody tr:nth-child(odd) {
    background: #F0F8FF;
}

.commgo td{
    border-width: 0;
    padding: 5px;
}