@font-face {
    font-family: '9369';
    src: url('fonts/9369.ttf');
}

body{
    font-family: '9369';
    margin: 0;
    background: #ffffff;
}

#content{
    width: 77.9%;
    margin: 70px 0 0 297px;
    background: #ffffff;
    height: 100vh;
    top: 50px;
    left: 298px;
}

#content .addEdit{
    padding-top: 20px;
}

.addEdit ul li{
    list-style-type: none;
    margin-bottom: 3px;
}

.editAddEdit{
    font-family: '9369';
    border: 1px solid #483D8B;
    background: #Ffffff;
    padding: 8px 0 8px 0;
    height: 22px;
    width: 425px;
    font-size: 20px;
    text-align: center;
}

.editAddSel{
    font-family: '9369';
    border: 1px solid #483D8B;
    background: #Ffffff;
    cursor: pointer;
    padding: 8px 0 8px 0;
    height: 40px;
    width: 425px;
    font-size: 20px;
    text-align: center;
}

.editAddArea{
    font-family: '9369';
    border: 1px solid #483D8B;
    background: #Ffffff;
    padding: 8px 0 8px 0;
    height: 150px;
    width: 425px;
    font-size: 20px;
    text-align: center;
    resize: none;
}

img[tabindex="0"] {
    height: 100px;
    cursor: zoom-in;
}

img[tabindex="0"]:focus{
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: auto;
    height: auto;
    max-width: 99%;
    max-height: 99%;
    margin: auto;
    box-shadow: 0 0 20px #000, 0 0 0 1000px rgba(210,210,210,.4);
}

img[tabindex="0"]:focus,
img[tabindex="0"]:focus ~ * {
  pointer-events: none;
  cursor: zoom-out;
}

#air, #oil{
    display: inline-block;
}